bunnycdnpython
pandas
scrapy
scraper_helper
seleniumbase
rapidfuzz
pymongo==4.3.3
python-dotenv
beautifulsoup4
curl_cffi
2captcha-python
jinja2
redis
uvicorn
fastapi
celery
flower
pydantic
lxml
cryptography
python-dateutil
psutil
gunicorn
schedule
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
requests
chromedriver_autoinstaller
aiohttp
certifi